#app {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box {
    background-color: blueviolet;
    border: white 1px solid;
    width: 48px;
    height: 48px;
}

.active {
    background-color: violet;
}